[submodule "External/SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
[submodule "External/StubMaker"]
	path = External/StubMaker
	url = https://github.com/OSM-Made/StubMaker/
[submodule "External/libGoldHEN"]
	path = External/libGoldHEN
	url = https://github.com/OSM-Made/libGoldHEN
