[submodule "External/SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
[submodule "External/StubMaker"]
	path = External/StubMaker
	url = https://github.com/OSM-Made/StubMaker/
[submodule "External/libGoldHEN"]
	path = External/libGoldHEN
	url = https://github.com/OSM-Made/libGoldHEN
[submodule "External/OrbisKernelDriver"]
	path = External/OrbisKernelDriver
	url = https://github.com/OSM-Made/OrbisKernelDriver
[submodule "External/libKernelInterface"]
	path = External/libKernelInterface
	url = https://github.com/OSM-Made/libKernelInterface
